<clr-main-container style="height: auto;">
  <app-header></app-header>
  <router-outlet></router-outlet>
  <div class="clr-row" style="background: #3f4d5f;color: white;min-height: 11rem;padding: 20px 0 0 0 ;">
    <div class="clr-col-4">
      <div class="clr-row">
        <div class="clr-col-sm-12">
          <textarea rows="6" placeholder="Write back to us....."
            style="width: inherit;border-radius: 12px;resize: none;padding: 5px 10px;"></textarea>
        </div>
      </div>
      <div class="clr-row">
        <div class="clr-col-sm-3 clr-offset-sm-9">
          <button class="btn btn-success btn-block">Send</button>
        </div>
      </div>
    </div>
    <div class="clr-col-sm-4">
      <div class="clr-row">
        <div class="clr-col-sm-3" style="padding: 20% 0;">
          <p style="font-size: 2rem;font-weight: 500;">Or</p>
        </div>
        <div class="clr-col-sm-9">
          <div class="clr-row">
            <div class="clr-col-sm-12">
              <p style="text-decoration: underline;font-size: 16px;text-align: center;margin-bottom: 12px;margin-top: 0;">Connect with us at:</p>
            </div>
          </div>
          <div class="clr-row">
            <div class="clr-col social-links">
              <a href="javascript://">
                <i class="fab fa-facebook-f fa-2x"></i>
              </a>
            </div>
            <div class="clr-col social-links">
              <a href="javascript://">
                <i class="fab fa-twitter fa-2x"></i>
              </a>
            </div>
          </div>
          <div class="clr-row">
            <div class="clr-col social-links">
              <a href="javascript://">
                <i class="fab fa-instagram fa-2x"></i>
              </a>
            </div>
            <div class="clr-col social-links">
              <a href="javascript://">
                <i class="fab fa-youtube fa-2x"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clr-col-sm-4">
      <div class="clr-row">
        <div class="clr-col-sm-6 clr-offset-sm-6" style="text-align: right;">
          <p style="text-decoration: underline;font-size: 16px;text-align: center;margin-bottom: 12px;margin-top: 0;">Some Quick links..</p>
          <p style="margin:0;">
            <a href="javascript://">Privacy Policies</a>
          </p>
          <p style="margin:0;">
            <a href="javascript://">Terms and Conditions</a>
          </p>
          <p style="margin:0;">
            <a href="javascript://">Careers</a>
          </p>
          <p style="margin:0;">
            <a href="javascript://">Contact Us</a>
          </p>
          <p style="margin:0;">
            <a href="javascript://">About Us</a>
          </p>
          <p style="margin:0;">
            <a href="javascript://">GRE Blog</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="clr-row">
    <div class="clr-col-sm-12">
      <h5 style="margin: 0;text-align: center;">&#169; 2020 by GREMASTER. All Right Reserved.</h5>
    </div>
  </div>
</clr-main-container>
